body{
	background-image: url(https://i.pinimg.com/236x/42/cd/8e/42cd8e9f0952d5b350157d29bd03c4c7.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #FFFFFF;
}